.c-focus-within {
  &__form {
    margin: 50px 0;
    border-top: 6px solid $accent-color;
    line-height: 1.6;
    box-shadow: 5px 5px 10px 0px #a9b2bb;
    padding: 15px;
    transition: outline 0.3s ease-in-out;
    outline: 3px solid transparent;

    &:focus-within {
      outline: 3px solid $accent-color;
    }
  }

  &__label {}

  &__input {
    display: block;
    width: 100%;
    padding-right: 20px;
    border-style: solid;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-bottom-color: #d0d0d0;
    transition: 0.3s border ease-in-out;

    &:focus {
      border-bottom-color: #7d7d7d;
      outline: none;
    }
  }
}
