.c-hamburger {
  position: relative;
  display: block;

  a {
    text-decoration: none;
  }

    margin: 50px 0;
    border-top: 6px solid $accent-color;
    line-height: 1.6;
    box-shadow: 5px 5px 10px 0px #a9b2bb;
    padding: 1em;
    color: $black;

    a {
      color: inherit;
    }

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  button {
    position: absolute;
    right: 1em;
    top: 27px;
    padding: 8px;
    border: 2px solid $accent-color;
    border-radius: 5px;
    font-size: 1em;
    background: transparent;
    color: $accent-color;
    display: none;

    &:focus,
    &:hover {
      background: $accent-color;
      color: $white;
      cursor: pointer;
    }
  }

  nav {
    border-top: 1px solid transparentize(#fff, 0.4);
    padding: 1em 1em 0;

    @media screen and (max-width: 700px) {
      padding: 0;
    }

    li {

      &:nth-child(even) a {
        @media screen and (max-width: 700px) {
          background-color: $offwhite;
        }
      }

    }

    a {
      display: block;
      padding: 0.5em;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    display: none;
    list-style-type: none;
    padding-left: 0;
  }

  button {
    display: block;
  }

  ul.is-active {
    display: block;
  }
}

@media (min-width: 700px) {
  .c-hamburger {
    display: flex;
    justify-content: space-between;
    ul {
      display: block;
    }

    button {
      display: none;
    }

    button {
      display: none;
    }

    nav {

      li {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }
}
