.c-mega-menu {
  margin: 50px 0;
  border-top: 6px solid $accent-color;
  line-height: 1.6;
  box-shadow: 5px 5px 10px 0px #a9b2bb;
  padding: 1em;


  /* mega menu list */
    .nav-menu {
      display: block;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 15;
    }

    /* a top level navigation item in the mega menu */
    .nav-item {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    /* first descendant link within a top level navigation item */
    .nav-item > a {
      position: relative;
      display: inline-block;
      padding: 0.5em 1em;
      margin: 0 0 -1px 0;
    }


    /* open state of first descendant link within a top level
    navigation item */
    .nav-item > a.open {
      z-index: 1;
    }

    /* sub-navigation panel */
    .sub-nav {
      position: absolute;
      display: none;
      top: 2.6em;
      margin-top: -1px;
      border: 1px solid #dedede;
    }

    /* sub-navigation panel open state */
    .sub-nav.open {
      display: block;
    }

    /* list of items within sub-navigation panel */
    .sub-nav ul {
      display: inline-block;
      vertical-align: top;
    }

    /* list item within sub-navigation panel */
    .sub-nav li {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }






  ul.nav-menu {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  li.nav-item > a {
    color: #000;
    float: left;
    font-size: 1.15em;
    padding: 8px;
  }
  .sub-nav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: $white;
    z-index: 1;
    box-shadow: 5px 5px 10px 0px #a9b2bb;
    margin: -1px 0 0;
  }
  .sub-nav-group {
    float: left;
    padding: 20px;
  }

  .sub-nav ul li {
    list-style: none outside none;
    margin-left: 0;

    &:not(:last-child) a {
      border-bottom: 1px solid $offwhite;
    }
  }
  .sub-nav a {
    color: #3C3C3C;
    display: block;
    font-size: 105%;
    padding: 10px 5px;
    min-width: 200px;
    line-height: 21px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  a {
    text-decoration: none;
  }
  li.nav-item > a:hover,
  li.nav-item > a:focus,
  li.nav-item > a.open  {
    background: transparent;
    text-decoration: underline;
  }
  .sub-nav a:hover,
  .sub-nav a:focus {
    background-color: $accent-color;
    color: #FFFFFF;
  }


    a:hover,
    a:focus,
    a:active {
      color: white;
      text-decoration: none;
    }
}
