.c-pagination {
  margin: 50px 0;
  border-top: 6px solid $accent-color;
  line-height: 1.6;
  box-shadow: 5px 5px 10px 0px #a9b2bb;
  padding: 1em;

  a[aria-current="true"] {
    background: #000;
    color: #fff;
  }

  a {
    padding: 5px 10px;
  }
}
