.c-sidebar {

  &__item {

  }

  &__inner {
    padding-right: 60px;

    @media screen and (max-width: $md) {
      padding-right: 0;
    }
  }

  &__link {
    padding: 10px;
    color: $grey;
    border-right: 1px solid $offwhite;
    background-color: $white;
    transition: 0.3s background-color ease-in-out, 0.3s border-left-color ease-in-out;
    border-left: 4px solid transparent;

    @media screen and (max-width: $md) {
      border-right: none;
      border-bottom: 1px solid $offwhite;
    }

    &:hover,
    &:focus {
      color: $grey;
      background-color: #f7f7f7;
      border-left-color: $accent-color;
    }
  }
}
