.tab {
    &__list {
        float: left;
        list-style: none;
        margin: 0;
        padding-left: 0;
        z-index: 0;
        position: relative;

        li {
            position: relative; /*for z-index*/
            float: left;
            margin: 0 .5em 0 0;
            z-index: 1;
        }

        li a {
            position: relative;
            top: 4px;
            float: left;
            overflow: hidden;
            font-weight: normal;
            text-shadow: none;
            background: #fff;
            color: #444;
            text-decoration: none;
            padding: .5em .5em .35em;
            border-style: solid;
            border-color: #ccc;
            border-width: 1px 1px 0;
            border-radius: 10px 10px 0 0;
            cursor: pointer;
        }

        li a:link { border-color: #ccc; }

        li a:hover,
        li a:focus,
        li a:active {
            border-color: #999;
        }

        li a:active { top: 2px; }

        li.current { z-index: 10; }

        li.current a {
            top: 2px;
            font-weight: bold;
            color: #333;
            // background: #fafafa;
            border-color: $accent-color;
            // text-shadow: 0 1px 1px rgba(0, 0, 0,.2);
        }

        li.current a:hover,
        li.current a:focus {
            color: #333;
            background-color: #fafafa;
        }

        a span {
            position: absolute;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
            opacity: 0;
        }
    }

    &__panel {
        position: relative;  /*for z-index*/
        display: block;
        visibility: visible;
        clear: left;
        overflow: auto;
        padding: 15px;
        z-index: 5;
        margin: 50px 0;
        border-top: 6px solid $accent-color;
        line-height: 1.6;
        box-shadow: 5px 5px 10px 0px #a9b2bb;

        &:focus { outline: 1px dotted #999; }

        h2:focus { outline: 1px dotted #999; }
    }
}
