label {
  display: block;
}

input,
textarea {
  border: none;
  padding: 8px 10px;
  transition: border-color 0.4s ease;
  border: 2px solid transparent;
  width: 100%;

  &:focus {
    // border-color: $pink;
    // outline: none;
  }
  &.has-error {
    border-color: $red;
  }
}

textarea {
  height: 100px;
}
