.form {

  &__row {
    position: relative;

    &.has-success {
      &:before {
        content: '\f00c';
        color: $accent-color;
      }
    }
    &.has-error {
      &:before {
        content: '\f00d';
        color: #d62f2f;
      }
    }

    &:before {
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 32px;
    }
  }

  &__error {
    display: none;
    color: #d62f2f;
  }

  &__select {
    display: block;
    width: 100%;
    border-style: solid;

    &.has-success {
      border-color: $accent-color;
    }
    &.has-error {
      border-color: #d62f2f;

      + .form__error {
        display: block;
      }
    }

  }

  &__input {
    display: block;
    width: 100%;
    padding-right: 35px;
    border-style: solid;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-bottom-color: #d0d0d0;
    transition: 0.3s border ease-in-out;

    &.has-success {
      border-bottom-color: $accent-color;
    }
    &.has-error {
      border-bottom-color: #d62f2f;

      + .form__error {
        display: block;
      }
    }

    &:focus {
      border-bottom-color: #7d7d7d;
      outline: none;
    }
  }

  &__label {
    display: block;

    &.has-success {
    }
    &.has-error {}
  }
}
