.main-header {
  padding: 30px 0;
  margin-bottom: 50px;
  background-color: #414E55;
  color: white;

  &__links {
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
      text-decoration: underline;
    }
  }
}
