.u-alt-font {
  font-family: $font-family-highlight!important;
}

.u-heading-font {
  font-family: $font-family-heading;
}

.u-bold {
  font-weight: bold;
}

.u-italic {
  font-style: italic;
}

.u-font-tiny {
  @include inuit-font-size(10px);
}
